<web-app>
    <servlet>
        <servlet-name>helloservlet</servlet-name>
        <servlet-class>pl.vavatech.tomcat.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloservlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
